## Autorit
Zoals je weet is er op de ring van Amsterdam nog wel eens file. De gemeente wil deze files verminderen door onder andere het gebruik van het openbaar vervoer te stimuleren. Dat kan de gemeente op verschillende manieren doen, denk aan extra openbaar vervoer inzetten op verschillende trajecten en tijden, maar ook met lokale campagnes om het gebruik van het openbaar vervoer aan te moedigen. De gemeente heeft een gelimiteerd budget en wil een weloverwogen en door data gedreven keuze maken.

Dus is er een team van data scientists ingehuurd om het rijgedrag op de ring te analyseren en op basis daarvan een aanbeveling te doen voor het bevorderen van het gebruik van het openbaar vervoer. In samenwerking met een zeker Nederlands navigatiebedrijf is er data verzameld over het rijgedrag van individuen op de ring. Als onderdeel van de analyse worden individu gegroepeerd op basis van gereden routes en rijgedrag. Naar aanleiding van de gevonden groepen kan er wellicht een aanbeveling gedaan worden voor een nieuwe busroute of een campagne in een bepaalde wijk van Amsterdam.

Om te kunnen groeperen hebben we allereerst data nodig en we moeten deze data kunnen inlezen en verwerken. Daarna rest de taak om hier features uit te winnen waarmee we correlaties kunnen vinden. In deze opdracht ga je de gegevens van één rit inlezen, verwerken en inzichtelijk maken. Alle data van de gemaakte rit vind je in `car.tsv`.

### Vraag 1a

`car.tsv` is een tab seperated values bestand. Eigenlijk dus een `.csv`, maar dan met een andere separator. Lees het bestand in *pandas* door middel van de `read_csv` functie en sla het resultaat in een nieuwe variable `frame` op. Laat daarna gelijk de eerste 5 datapunten zien, zodat je het format van het dataframe kunt bekijken.

### Vraag 1b

Niet alle data in `car.tsv` is even nuttig. Zo is `timestamp` gelijk aan `recordtime`! Ook hebben we bij deze opdracht niet alle kolommen nodig. Herindexeer daarom hieronder het `frame`, zodat alleen de kolommen `time`, `lat`, `long`, `speed`, en `course` overblijven. Laat daarna weer de eerste 5 datapunten zien om je resultaat te kunnen controleren.

### Vraag 2a

De huidige `time` uit `car.tsv` bevat nog steeds overbodige informatie, want alle alle data voor deze rit komt van dezelfde dag. Ook is `time` op het moment nog steeds een string, wat verdere berekeningen natuurlijk lastig maakt. Schrijf een nieuwe functie `time_tuple` die een `time` string als input krijgt, en vervolgens een tuple returnt met alleen het aantal *uren*, *minuten*, *seconden* en *miliseconden* in de timestamp, allen geconverteerd naar een integer.

    >>> time_tuple('2014-11-19 08:57:45.696')
    (8, 57, 45, 696)
    
    >>> time_tuple('2014-11-19 09:10:25.695')
    (9, 10, 25, 695)

### Vraag 2b

Gebruik nu vervolgens `map` om de `time_tuple` functie toe te passen op elke rij van de `time` kolom en sla het resultaat op een nieuwe kolom `tuple_time`. Laat weer de eerste 5 rijen zien om je resultaat te controleren.

### Vraag 3a

Schrijf een functie die een tuple time neemt, en deze vervolgens converteert naar de hoeveelste seconden van de dag (sinds middernacht) het is. Er zitten uiteraard 60 seconden in 1 minuut, 3600 seconden in 1 uur, en komt elke miliseconde overeen met *1/1000ste* seconde. Map deze functie over `tuple_time` en sla het resultaat in een nieuwe kolom `seconds` op. Controleer je resultaat weer met de eerste 5 rijen. De eerste time zou overeen moeten komen met *32265.696* seconden sinds middernacht.

### Vraag 3b

Gebruik nu de *pandas* functie [diff](https://pandas.pydata.org/docs/reference/api/pandas.Series.diff.html) om de verschillen tussen de `seconds` van elke rij te berekenen. Dit moet dus het verschil zijn tussen een seconds van een rij en rij daarvoor. Sla het resultaat op in een nieuwe kolom `time_spent`. Deze kolom geeft nu dus aan hoe lang er tussen elk van de verschillende metingen zit.

### Vraag 3c

De eerste rij heeft uiteraard geen rij ervoor, wat er voor zorgt dat dit verschil *NaN* wordt. Gebruik een *pandas* functie om deze missende *NaN* te vervangen met *0.0* seconden.

### Vraag 4a

De `speed` in deze data set is in meters per seconde. Samen met de `time_spent` per meeting, kunnen we dat gebruiken om de afgelegde afstand per sample te berekenen, en dus uiteindelijk ook de totaal afgelegde afstand. Bereken de totaal afgelegde afstand in meters en print deze waarde met twee getallen achter de komma

### Vraag 4b

Maak een nieuwe kolom in de dataframe waar je de snelheid in de kilometers per uur opslaat. Hiervoor moet je dus de speed in meters per seconde converteren en opslaan in een nieuwe kolom `kmph`.

### Vraag 5a

Maak een functie die de snelheid in kilometers per uur converteert naar een label van het soort snelheden dat de auto rijdt. Hiervoor zijn er 4 types gedefinieerd.

* $< 5$ km/h : "Stilstand"
* $>= 5$ en $< 30$ km/h: "Woonwijk"
* $>= 30$ en $< 50$ km/h: "Bebouwde kom"
* $>= 50$ km/h: "Snelweg"

Als voorbeeld zou deze functie dus de volgdende output moeten geven

    >>> speed_type(35)
    "Bebouwde kom"
    
    >> speed_type(17)
    "Woonwijk"
    
Pas deze functie toe op de kolom `kmph` en sla het resultaat op in een nieuwe kolom `road_type`

### Vraag 5b

Bereken de totale tijd dat de auto stil stond deze rit. Gebruik hiervoor de `road_type` en `time_spent` kolommen van de data frame. Gebruik hiervoor een boolean mask.

### Vraag 6

Bereken de verschillende gemiddelde snelheden voor de verschillende road_types en laat deze resultaten in een nieuwe series zien. Gebruik hiervoor een `groupby`.

### Vraag 7

Maak een scatter plot van all x-y posities van de auto, hier gegeven als de `lat` en `long` kolommen, zodat je de positie van de auto gedurde de rit kunt zien.